# =============================================================================
# PYTHON BASICS
# =============================================================================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =============================================================================
# DATA FILES
# =============================================================================
# Ignore all contents but keep folder structure
videos_dataset/*/*


# =============================================================================
# LOGS AND TEMPORARY
# =============================================================================
*.log

# =============================================================================
# OS AND IDE
# =============================================================================
.DS_Store
Thumbs.db
.vscode/
.idea/